In [2]:
import pandas as pd
import numpy as np
titanic_survival=pd.read_csv("titanic_train.csv")
print(titanic_survival.shape)
titanic_survival.head()

(891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1.取出年龄列进行计算

In [5]:
age=titanic_survival["Age"]
print(age[:9])

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
Name: Age, dtype: float64

#### 存在缺失值 使用 isnull  函数进行处理  True 表示缺失值

In [34]:
age_is_null=pd.isnull(age)
print(age_is_null[:9])

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
Name: Age, dtype: bool

#### 找出所有缺失值

In [33]:
age_null_true=age[age_is_null]
print(age_null_true[:9])

5    NaN
17   NaN
19   NaN
26   NaN
28   NaN
29   NaN
31   NaN
32   NaN
36   NaN
Name: Age, dtype: float64

In [36]:
# 多少个
print(len(age_null_true))

177

#### 存在缺失值导致 平均数计算错误

In [10]:
avg_age=sum(titanic_survival["Age"])/len(titanic_survival["Age"])
print(avg_age)

nan

#### 计算总人数

In [9]:
print(len(titanic_survival["Age"]))

891

### A1剔除缺失值计算均值

In [46]:
good_ages=titanic_survival["Age"][age_is_null==False]
print(good_ages[:9])

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [49]:
correct_mean_age=sum(good_ages)/len(good_ages)
print(correct_mean_age)

29.6991176471

 ### A2使用mean() 函数 直接求剔除缺失值后的均值

In [7]:
correct_mean_age=titanic_survival["Age"].mean()
print(correct_mean_age)

29.69911764705882

###  B1 计算每个仓位的平均价格

In [44]:

pclass=[1,2,3]
pfare={}
for x in pclass:
    p=titanic_survival[titanic_survival["Pclass"]==3]["Fare"].mean()
    pfare[str(x)+"仓"]=p
print(pfare)

{'1仓': 13.675550101832997, '2仓': 13.675550101832997, '3仓': 13.675550101832997}

### pivot_table(透视表)  分析两个指标的关系


#### 不同船舱的获救记录    index 以哪一维度分组，values 求那组维度的数据，aggfunc 分组后的聚合运算规则（默认是平均则）

In [10]:
              
pcalss_survival=titanic_survival.pivot_table(index="Pclass",values="Survived",aggfunc=np.mean)
print(pcalss_survival)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

#### 计算不同舱位的 平均年龄和存活几率

In [7]:
              
pcalss_survival=titanic_survival.pivot_table(index="Pclass",values=["Survived","Age"],aggfunc=np.mean)
print(pcalss_survival)

              Age  Survived
Pclass
1       38.233441  0.629630
2       29.877630  0.472826
3       25.140620  0.242363